*{
  box-sizing: border-box;
}
body{
  margin: 0px;
}
div#main{
  width: 100%;
  max-width: 640px;
  margin: auto;
}
footer{
  overflow: auto;
}
footer p{
  font-size: 12px;
  opacity: 0.9;
  width: 80%;
  float: left;
}
footer img{
  width: 110px;
  opacity: 0.7;
}
footer a{
  display: block;
  float: right;
  margin: 10px 0;
}
@media only screen and (max-width: 600px) {
  footer{
    text-align: center;
  }
  footer p{
    font-size: 10px;
    width: 100%;
  }
  footer img{
    width: 90px;
  }
  footer a{
    float: none;
    display: inline;
  }
}
*{
  font-family: 'Roboto', sans-serif;
}
body{
  overflow-x: hidden;
}
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}
div#main{
  width: 100%;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
  min-width: 480px;
  margin-top: 25px 
}
td{
  position: relative;
  width: 173px;
  padding: 0px;
}
td img{
  width:20px;
  display:block;
  opacity:0.7;
  margin: auto;
}
td canvas{
  position: absolute;
  top: 4px;
  left: 4px;
}
.vis-table_cell--text, .vis-table_cell--variation {
  width: 1%;
}
button{
  display: block; 
  margin: 10px auto; 
  width: 100px; 
  height: 25px; 
  cursor: pointer;
}
div#tooltip{
  position:absolute;
  z-index:2;
  background-color:white;
  pointer-events:none;
  border: 1px solid;
  padding: 5px;
}
.displayNone{
  display:none;
}
h1{
  font-weight: normal;
}

header{
  overflow: auto;
}

/*
  Sticky header and column in table: https://stackoverflow.com/questions/15811653/table-with-fixed-header-and-fixed-column-on-pure-css
*/

/* Use position: sticky to have it stick to the edge
 * and top, right, or left to choose which edge to stick to: */

#provinces-table {
  overflow: scroll;
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}

tbody td:nth-child(1) {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
}

/* To have the header in the first column stick to the left: */

thead th:first-child {
  left: 0;
  z-index: 2;
}

/* Just to display it nicely: */

thead th {
  background: #333;
  color: #fff;
  /* Ensure this stays above the emulated border right in tbody th {}: */
  z-index: 1;
}

tbody td:nth-child(1) {
  background: #FFF;
  border-right: 1px solid #CCC;
  /* Browsers tend to drop borders on sticky elements, so we emulate the border-right using a box-shadow to ensure it stays: */
  box-shadow: 1px 0 0 0 #ccc;
  z-index: 1;
}

table {
  border-collapse: collapse;
}

th {
  padding: 0.5em;
}

.vis-table_cell--chart .party {
  margin-left: 10px;
}

